language: go

env:
  global:
    CC_TEST_REPORTER_ID=cca64f93d052091696d140b09793a85776a27af18027f13ac2cb74b02d85cd70
  GO111MODULE:
    on

go:
  - "1.11"

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - GO111MODULE=on go get -v github.com/thestrukture/IDE

script:
  - go build
  - go test -coverprofile c.out ./...

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
