{{ $rin := RandTen }}
<div class="{{ $rin }}">
	<div class="marker" init="yes" path="{{ .Link }}" style="padding:15px;">
		<div class="hidden-aspect alert alert-success text-center"><h3><b><i class="fa fa-spin fa-cog fa-2x"></i> One moment</b></h3></div>
		<div class="loader-result"></div>
		{{with .Inputs}}	
			{{range .}}
				{{bInput .}}
			{{end}}
		{{end}}

		{{with .Buttons}}	
			{{range .}}
				{{bxButton .}}
			{{end}}
		{{end}}


		<p><button class="btn dosub btn-{{ .Class }}">{{ .CTA }}</button></p>

	</div>
</div>

<script type="text/javascript">
	if($.fn.havok !== undefined){
		$(".{{ $rin }}").havok();
	}
</script>