{{$rin := RandTen}}
<div id="{{$rin}}" >


	{{$count := .Count}}
	<div class="marker row" data-link="{{.ListLink}}" path="{{.Link}}">
		
	{{with .Inputs}}
		{{range .}}
			<div class="col-xs-{{$count}}">
			{{bInput .}}
			</div>
		{{end}}
	{{end}}
	<div class="col-xs-{{$count}}" style="">
		{{$blockClass := ""}}
		{{if .DLink | neq ""}}
		<button class=" btn btn-danger" path="{{.DLink}}"><i class="fa fa-trash"></i></button>
		{{$blockClass := "btn-block"}}
		{{end}}
		<button class="dosub {{$blockClass}} btn btn-success"><i class="hidden-aspect fa fa-spinner fa-spin"></i> <i class="fa fa-save"></i></button>
	</div>
	<div class="loader-result col-xs-12">

	</div>

	</div>

</div>
<script type="text/javascript">
	$("#{{$rin}}").havok();
</script>