<div class="full-height" id="{{ .ID }}" pkg="{{ .PKG }}" >
<div style="float: right;
    height: 10px;
    position: relative;
    z-index: 20;" class="row">
<style type="text/css">
	.spl-col .dosub {
		float:left;
	}
</style>
	
	<div class="col-sm-3 " style="text-align:right">
		<button class="btn btn-warning" onclick="SaveFile('{{ .ID }}', '{{ .SavesTo }}','{{ .PKG }}')"><i class="fa fa-save"></i></button>
	</div>
</div>
<p>func DoRequest(r <a href="https://golang.org/pkg/net/http/#Request" target="_blank">http.Request</a>, w <a href="https://golang.org/pkg/net/http/#ResponseWriter" target="_blank">http.ResponseWriter</a>,session.Values <a href="http://www.gorillatoolkit.org/pkg/sessions" target="_blank">map[string]interface{}</a> ) {</p>
<div id="editor{{ .ID }}" class="col-xs-12 defed">{{printf "%s" .File}}</div>
<p>}</p>
<script type="text/javascript">
	 editors["{{ .ID }}"] = ace.edit("editor{{ .ID }}");
	 editors["{{ .ID }}"].getSession().setMode("ace/mode/golang")
	   editors["{{ .ID }}"].setOptions({enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true});
	 editors["{{ .ID }}"].commands.addCommand({
	    name: 'myCommand',
	    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
	    exec: function(editor) {
	        //...
	        SaveFile('{{ .ID }}', '{{ .SavesTo }}','{{ .PKG }}');
	    },
	    readOnly: true // false if this command should not apply in readOnly mode
	});
	 setTimeout(function(){
	 	var id = {{ .SavesTo }}
	 	$.ajax({url: "/api/pkg-bugs?pkg=" + {{ .PKG }}, success:function(html){
	 		//console.log(html)
	 		if (html.Bugs){
	 		for (var i = html.Bugs.length - 1; i >= 0; i--) {
	 			var bug = html.Bugs[i];
	 			
	 			var action = bug.Action.split(":")
	 			if (action[0] == "service"){
		 			if (id.includes(action[3])  ){
		 				//find line
		 				$(".ace_gutter-cell",  "#" + {{ .ID}}).each(function(e,i){
		 					if ($(this).html() == action[2]){
		 						$(this).attr("style", "height: 16px;width: 47px;padding-left: 10px;letter-spacing: 3px;")
		 						$(this).html( '<i class="fa fa-warning"></i>' + action[2] )
		 					}
		 				})
		 			}
	 			}
	 		}
	 		}
	 	} 
	 })
	 },600)
	 $(".tabview.active").attr("pkg", {{.PKG}})
	 
	// addTab("{{ .SavesTo }}", "{{ .ID }}" );
</script>
</div>
