
<div class="tabview" id="{{ .ID }}" pkg="{{ .PKG }}">
<div  class="row">
	<div class="col-sm-9" style="min-height:50px;">
	
	</div>
	<div class="col-sm-2">
		<!-- <a href="/roc/server{{ Fragmentize .SavesTo }}?pkin={{ .PKG }}" class="btn btn-primary-outline btn-block" target="_blank"><i class="fa fa-eye"></i> Preview</a> -->
	</div>
	<div class="col-sm-1" style="text-align:right">
		<button class="btn btn-block btn-warning" onclick="SaveFileSrc('{{ .ID }}', '{{ .SavesTo }}','{{ .PKG }}')"><i class="fa fa-save"></i></button>
	</div>
</div>
<div id="editor{{ .ID }}" class="defed">{{printf "%s" .File}}</div>
<script type="text/javascript">
	 editors["{{ .ID }}"] = ace.edit("editor{{ .ID }}");
	 editors["{{ .ID }}"].getSession().setMode("ace/mode/" + {{ .Type }})
	   editors["{{ .ID }}"].setOptions({enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true});
	 editors["{{ .ID }}"].commands.addCommand({
	    name: 'myCommand',
	    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
	    exec: function(editor) {
	        //...
	    	 SaveFileSrc('{{ .ID }}', '{{ .SavesTo }}','{{ .PKG }}');
	    },
	    readOnly: true // false if this command should not apply in readOnly mode
	});
	 addTab({{ .SavesTo }}, {{ .ID }} );
</script>
</div>
