
<div class="tabview" id="{{ .ID }}" pkg="{{ .PKG }}">
<div  class="row">
	<div class="col-sm-9" style="min-height:50px;">
	<button type="button" class="btn btn-primary" onclick="editors['{{ .ID }}c'].wrap = editors['{{ .ID }}c'].wrap ? false : true;editors['{{ .ID }}'].getSession().setUseWrapMode( editors['{{ .ID }}c'].wrap   );" data-toggle="button" aria-pressed="true" autocomplete="off">
 Wrap text
</button>
	</div>
	<div class="col-sm-2">
		<!-- <a href="/roc/server{{ Fragmentize .SavesTo }}?pkin={{ .PKG }}" class="btn btn-primary-outline btn-block" target="_blank"><i class="fa fa-eye"></i> Preview</a> -->
	</div>
	<div class="col-sm-1" style="text-align:right">
		<button class="btn btn-block btn-warning" onclick="SaveFileSrc('{{ .ID }}', '{{ .SavesTo }}','{{ .PKG }}')"><i class="fa fa-save"></i></button>
	</div>
</div>
<div id="editor{{ .ID }}" class="defed">{{printf "%s" .File}}</div>
<script type="text/javascript">
	 editors["{{ .ID }}"] = ace.edit("editor{{ .ID }}");
	 editors["{{ .ID }}"].getSession().setMode("ace/mode/" + {{ .Type }});
	 editors[{{ .ID }} + "c"] = {wrap:false};


	    editors["{{ .ID }}"].setOptions({enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: true});
	
	 	editors["{{ .ID }}"].commands.addCommand({
	    name: 'myCommand',
	    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
	    exec: function(editor) {
	        //...
	    	 SaveFileSrc('{{ .ID }}', '{{ .SavesTo }}','{{ .PKG }}');
	    },
	    readOnly: true // false if this command should not apply in readOnly mode
		});

			editors["{{ .ID }}"].commands.addCommand({
	    name: 'oterm',
	    bindKey: {win: 'Ctrl-I',  mac: 'Ctrl-I'},
	    exec: function(editor) {
	        //...
	    	toggleTerm()
	    },
	    readOnly: true // false if this command should not apply in readOnly mode
		});

				editors["{{ .ID }}"].commands.addCommand({
	    name: 'collapse',
	    bindKey: {win: 'Ctrl-M',  mac: 'Ctrl-M'},
	    exec: function(editor) {
	        //...
	    	CollapseGloj()
	    },
	    readOnly: true // false if this command should not apply in readOnly mode
		});






		editors["{{ .ID }}"].container.addEventListener("contextmenu", function(e) {
		  
		    	var edt = editors["{{ .ID }}"]
			   		var cursor = edt.selection.getCursor()
			   		var txt = edt.session.getTextRange(edt.getSelectionRange());
			   		
			   		
			   	$('body').contextMenu("destroy");
			   		
			   			  e.preventDefault();
			   			 $.contextMenu({
					        selector: 'body', 
					        trigger: 'none',
					        animation: {duration: 0, show: 'fadeIn', hide: 'fadeOut'},
					        callback: function(key, options) {
					          handleClickStruk(key, txt, {{.ID}}, {{ .PKG }})
					        },
					        items: getItems(txt)
					    });
			   		  $('body').contextMenu();
			   		  return false;
			   		
		    
		}, false);



	  	
	    setTimeout(function(){
	 
	 	$.ajax({url: "/api/pkg-bugs?pkg=" + {{ .PKG }}, success:function(html){
	 		//console.log(html)
	 		if (html.Bugs){
	 		for (var i = html.Bugs.length - 1; i >= 0; i--) {
	 			var bug = html.Bugs[i];
	 			
	 			var action = bug.Action.split(":")
	 			var id = {{.SavesTo }}.split("/")
	 			id = id[id.length - 1];
	 			if (action[0] == "edit" &&  action[1].includes(id) ){
		 					 				//find line
		 				$(".ace_gutter-cell",  "#" + {{ .ID }}).each(function(e,i){
		 					if ($(this).html() == action[2]){
		 						$(this).attr("style", "height: 16px;width: 47px;padding-left: 10px;letter-spacing: 3px;")
		 						$(this).html( '<i class="fa fa-warning"></i>' + action[2] )
		 					}
		 				})
		 			
	 			}
	 		}
	 		}
	 	} 
	 })
	 },600)
	 addTab('{{ .PKG }} - ' + {{ .SavesTo }}, {{ .ID }} );
</script>
</div>
