<style type="text/css">
html,
body {
    background: #ededed;
}

html {}

body {
    padding-top: 57px;
}

.tip-red {
    border-top: 6px #81B1EC dotted;
}

.text-center {
    text-align: center;
}

.tab-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
    display: inline-block;
}

.navbar-light {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.white {
    color: #fff;
}

.inf-x .col-sm-12 {
    height: 42px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.header-p {
    background-color: #333;
}



#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}




.xtab:focus {
    background-color: #fff;
}

.hidden-aspect {
    display: none;
}

.loader-prog {
    display: none;
}

.tabview {
    display: none;
}

.tabview.active {
    display: block;
    background: #375a7f !important;
    padding: 4px;
}


.center-panel {
    padding: 10px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background: #fff;
}

.ready-two {
    display: none;
}

.ready-one {
    display: none;
}
</style>
<link rel="stylesheet" href="/dist/jquery.contextMenu.css" type="text/css" media="screen">