<div class="alert alert-{{.Type}} alert-dismissible fade in" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
	<p>{{.Text}}</p>
	{{if .Redirect | ne "" }}
	<script type="text/javascript">
		window.location = "{{ .Redirect }}".replace("\\","");
	</script>
	{{end}}
</div>