{{ $rin := RandTen }}
<div class="tabview" id="{{ $rin }}" style="background-color:#fff;">

<div class="row full-height">
	<div class="col-xs-6 full-height over-flow-fix" style="background: #efefef;border-right:1px #999 dotted;padding-left:29px;">
	
		<label style="font-weight:bold;color:#666;"><i class="fa fa-bug"></i> Bug logs</label>
		{{if anyBugs .PKG .Username }}
			
			<div class="list-group">
				{{ with FindmyBugs .PKG .Username }}
					{{range .}}
					 <a href="#" data-time="{{.Time}}" class="list-group-item debug-node">{{.Time}}</a>
					{{end}}
				{{end}}
			</div>
			{{else}}
			<div class="card card-inset "><p>No bug logs found within this project</p></div>
			{{end}}
		

	</div>
	<div class="col-xs-6 log-set full-height over-flow-fix">

	</div>
</div>

<script type="text/javascript">
	
	 addTab({{ .PKG }} + " - Logs", {{ $rin }} );

	 $(".debug-node").click(function(){
	 	$(".debug-node").removeClass("active")
	 	$(this).addClass("active")
	 	working = true;
    	$(".loader-prog").css("display","block");
          $.ajax({url:"/api/get",type:"POST",data:{space:{{ .PKG }},type:"17",id:$(this).attr("data-time")}, error:function(e){
              working = false;
              $(".loader-prog").css("display","none");
              $(".log-set").html($(e.responseText) );
            
          } 
        });

	 	return false;
	 });
	
</script>
</div>
