{{$rin := RandTen}}
<div class="tabview" id="{{$rin}}" style="background-color:#fff;">

<div style="padding-left:20px;height:50%" class="card-info over-flow-fix" >
	<div style="color:#fff;" class="card card-inset card-info">
		<label class="label">Testing : {{.Misc}}</label>
		<p>Test console</p>
		<div class="row">
			<div class="col-sm-12">
	 <textarea type="text" placeholder="$Test Command {'data':}" class="form-control target-url" style="min-height: 40px;" id="basic-url" aria-describedby="basic-addon3"></textarea>

			</div>
			<div class="col-sm-6" style="display:none">
				<button class="add-data btn btn-primary pull-right"><i class="fa fa-plus"></i> Add field </button>
				<p>Request data</p>
				<div class="fields">
					
				</div>
			</div>
		</div>
		<p><label>Mode:</label>
		<select class="form-control test-mode" ><option value="--test-f">Test</option><option value="--bench-f">Benchmark</option></select>
		</p>
		<p><button class="send-xhr btn-block btn-primary-outline btn" parent="{{$rin}}"> Test <i class="fa fa-arrow-right"></i></button></p>
	</div>
</div>
<div style="padding-left:20px;height:50%" class="over-flow-fix" >
	<label>Result</label>
	<pre>
	<code class="resp-box" style="margin-bottom:10px;"> 

	</code>
	</pre>
</div>
<script type="text/javascript">
	var id = makeid();
	

	$(".send-xhr").click(function(){
		$(".resp-box", "#" +  {{$rin}} ).html("<h1 style='text-align:center;'><i class='fa fa-cog fa-spin'/></h1>");
		$.ajax({url:"/api/tester/",data:{pkg:{{.Misc}},c:$(".target-url", "#" + {{$rin}}).val(),mode: $(".test-mode", "#" +  {{$rin}}).val()}, type:"POST", error: function(err){
						$(".resp-box", "#" +  {{$rin}} ).html(err.responseText);
		}

	});

		return false;
	});

	 addTab({{.Misc}} + " - Testing", {{$rin}} );

	 </script>
</div>
