{{ if .Mode | eq "home" }}
{{ $mutable := cNavbar }}
{{ $navmain := NavMain }}
{{ $mutable := $mutable | BindMisc $navmain }}
{{ bNavbar $mutable }}
{{else}}
{{ $mutable := cNavbar }}
{{ $navpre := cNavPKG }}
{{ $navpre := $navpre | BindID .ID }}
{{ $navmain := bNavPKG $navpre }}
{{ $mutable := $mutable | BindMisc $navmain }}
{{ bNavbar $mutable }}
{{end}}