<nav class="navbar navbar-fixed-top navbar-l bg-faded" style="background:rgba(0,0,0,0.3);"> 
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
  <a class="navbar-brand" href="/landing">{{Logo /{`Misc`:`35`}/}} Strukture</a>
     <ul class="nav navbar-nav">
    <!--<li class="nav-item ">
      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/launch-point">Launch Point</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="/walk-thru">Walk through</a>
    </li> 

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="/documentation">Documentation</a>
    </li> 
     <li class="nav-item">
      <a class="nav-link" target="_blank" href="/termsofuse">Terms of use</a>
    </li> 
     <li class="nav-item">
      <a class="nav-link" target="_blank" href="/privacy">Privacy</a>
    </li> 
  </ul>
  <form class="pull-xs-right">
    <a href="/register" class="btn btn-warning-outline">Register</a>
    <a href="/index" class="btn btn-primary-outline">Signin</a>
  </form>
</div>
</nav>