<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_zRqKNStaDnOhVqwyrcCQ85C2"
    data-image="/img/logo.png"
    data-name="StruktureIDE"
    data-description="Strukture monthly subscription"
    data-amount="699"
    data-locale="auto">
  </script>
</form>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	Stripe.setPublishableKey('pk_live_zRqKNStaDnOhVqwyrcCQ85C2');
</script>