<div class="card card-inverse welcome-card text-xs-center" style="background-color:#333;">
  <div class="card-block" style="color:#fff">
   	<h1>Welcome to the StruKture</h1>
   	<p>Get ready to code like you've never before.</p>
      <h4>Your next move?</h4>
  
        <p><button onclick="removeWelcome()" class="btn btn-block btn-danger">Dismiss</button></p>
  

  </div>
</div>