<!DOCTYPE html>
<html class="full-height" lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Documentation - The Strukture</title>
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="/img/logo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css.css" />
    <link rel="stylesheet" href="/dist/jquery.fullPage.css" />
  </head>
  <body class="full-height">
     
    <nav class="navbar navbar-fixed-top navbar-l bg-faded" style="background:rgba(0,0,0,0.3);"> 
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
  <a class="navbar-brand" href="/landing"><img src="/img/logo.png" style="display:inline;width:35px"></a>
     <ul class="nav navbar-nav">
    <!--<li class="nav-item ">
      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/launch-point">Launch Point</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="/walk-thru">Walk through</a>
    </li> 

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="/documentation">Documentation</a>
    </li> 
     <li class="nav-item">
      <a class="nav-link" target="_blank" href="/termsofuse">Terms of use</a>
    </li> 
     <li class="nav-item">
      <a class="nav-link" target="_blank" href="/privacy">Privacy</a>
    </li> 
  </ul>
  <form class="pull-xs-right">
    <a href="/register" class="btn btn-warning-outline">Register</a>
    <a href="/index" class="btn btn-primary-outline">Signin</a>
  </form>
</div>
</nav>

<div class="container-fluid full-height" style="padding-top: 71px;">
  
    <div class="row full-height over-flow-fix">
           <div class="col-md-3 full-height over-flow-fix inverted-h">
            
<h3><a id="table-of-content" class="anchor" href="#table-of-content" aria-hidden="true"><span class="octicon octicon-link"></span></a>Table of Content</h3>
<ol>
<li><a href="#gos-xml-template">GoS XML template</a></li>
<li><a href="#gos-project-layout">GoS project layout</a></li>
<li><a href="#core-usage">Core Usage</a> 

<ol>
<li><a href="#using-gos-command-without-parameters">Using GoS command without parameters</a></li>
<li><a href="#gos-running-application">GoS running application</a></li>
<li><a href="#gos-export-application">GoS export application</a></li>
<li><a href="#gos-ios-application">GoS Bind to Xcode Project</a></li>
</ol></li>
<li><a href="#configuring-gos-xml-file">Configuring GoS xml file</a>

<ol>
<li><a href="#deploy">Deploy</a></li>
<li><a href="#web-tag">Web</a></li>
<li><a href="#tmpl-tag">Tmpl</a></li>
<li><a href="#port">Port</a></li>
<li><a href="#output">Output</a></li>
<li><a href="#key">Key</a></li>
<li><a href="#init">Init</a></li>
<li><a href="#main">Main</a></li>
<li><a href="#var">Var</a></li>
<li><a href="#header">Header</a>

<ol>
<li><a href="#struct">Structs</a></li>
<li><a href="#objects">Objects</a></li>
</ol></li>
<li><a href="#methods">Methods</a></li>
<li><a href="#timers">Timers</a></li>
<li><a href="#templates">Templates</a></li>
<li><a href="#api-generation">API Generation</a></li>
<li> <a href="#imports">Imports</a></li>
</ol></li>
<li> <a href="#gos-builtin-template-functions">GoS builtin template functions</a></li>
<li><a href="#gos-page">GoS page</a></li>
<li><a href="#mobile-session">Mobile Sessions</a> </li>
<li><a href="#mobile-views">Mobile Views</a></li>
<li><a href="#bug-tracking">Bug tracking</a></li>
</ol>
      </div>
      <div class="col-sm-9 full-height over-flow-fix">
          <p>Strukture is built around Gopher Sauce</p>
          <p>Gopher Sauce is is a command line tool used for compiling GoS projects. A GoS project uses XML sources and Go lang packages to create a web server. It uses xml to build onto Go lang's <a href="https://golang.org/pkg/html/template/">template</a>  processing functionality, making it easier to define custom objects,methods and structs that are accessible to your templates as well as any Go lang declarations within your GoS project.
          Gopher Sauce makes web server application distribution easy by compiling your entire Gopher Sauce application's sources and misc. file resources into one binary. </p>

             <h3><a id="get-started" class="anchor" href="#how-to-install-gos" aria-hidden="true"><span class="octicon octicon-link"></span></a> Getting started</h1>
              <p class="text-muted">Gopher Sauce requires Go lang to work.</p>
              <p><a href="https://golang.org/" target="_blank" class="btn btn-danger btn-block">Go Lang</a></p>

          <h3><a id="how-to-install-gos" class="anchor" href="#how-to-install-gos" aria-hidden="true"><span class="octicon octicon-link"></span></a>How to install GoS</h3>

          <pre><code>go get -u github.com/cheikhshift/gos/...
          </code></pre>

          <h3><a id="generate-project" class="anchor" href="#generate-project" aria-hidden="true"><span class="octicon octicon-link"></span></a>Generate project</h3>

          <p>GoS can be used to generated package folders with the option <code>make</code>
          For Example :</p>

          <pre><code>$GOPATH/bin/gos make some/pkg/name
          </code></pre>

          <h3><a id="handle-gos-dependencies" class="anchor" href="#handle-gos-dependencies" aria-hidden="true"><span class="octicon octicon-link"></span></a>Handle GoS Dependencies</h3>

          <p>The application generated by Gopher Sauce has certain dependencies. Please run the command below to download them before attempting to run or export your application. (Assuming $GOPATH is set)</p>

          <pre><code>$GOPATH/bin/gos dependencies
          </code></pre>


<h1><a id="gos-xml-template" class="anchor" href="#gos-xml-template" aria-hidden="true"><span class="octicon octicon-link"></span></a>GoS XML template</h1>

<p>The GoS XML template is where your application's imports, structs,objects,methods,timers,templates and end point hooks. Here is a fully documented project template <a href="https://github.com/cheikhshift/Gopher-Sauce/blob/master/src/github.com/cheikhshift/gosapphire/server.xml">file</a></p>

<p>Below is an example of a very minimal GoS XML source : 
This Example will save a file named server_out.go to the package package in the gos cmd tool. It will create one struct called DemoChild in the native go manner.</p>

<pre><code> &lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;gos&gt;
    &lt;deploy&gt;webapp&lt;/deploy&gt;
    &lt;port&gt;8080&lt;/port&gt;

    &lt;output&gt;server_out.go&lt;/output&gt;

    &lt;key&gt;something-secretive-is-what-a-gorrilla-needs&lt;/key&gt;
    &lt;header&gt; 
        &lt;!-- remember to Jumpline when stating methods or different struct attributes, it is vital for our parser \n trick --&gt;
    &lt;struct name="DemoChild"&gt;
        SomeOtherAttr string
    &lt;/struct&gt;
    &lt;/header&gt;
&lt;/gos&gt;
</code></pre>

<h1><a id="gos-project-layout" class="anchor" href="#gos-project-layout" aria-hidden="true"><span class="octicon octicon-link"></span></a>GoS project layout</h1>

<p>This section covers the integration of GoS with your current Go configuration. GoS project minimally requires a GoS XML template, a web root folder and a template root folder.</p>

<ul>
<li>Template folder is the root folder for all templates declared within your application</li>
<li>Web root can contain both usual server resource data and template pages as well. Template pages within the  web root folder have access to user sessions.

<ul>
<li>*webroot/dist/ is initialized as a fileserver to correct issues when serving css files. It will not compile templates and handle api end points with the <code>/dist/</code> prefix.</li>
</ul></li>
</ul>

<p>Your GoS project should look like this</p>

<pre><code>    $GOPATH/src/
        |-  your/package/name
                        |-      gos_xml_template.xml
                        |-      web_root/
                                    |-  index.html
                                template_root/
                                    |-  email.tmpl 
</code></pre>

<h1><a id="core-usage" class="anchor" href="#core-usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Core Usage</h1>

<p>This section covers how to use the command line tool</p>

<h2><a id="using-gos-command-without-parameters" class="anchor" href="#using-gos-command-without-parameters" aria-hidden="true"><span class="octicon octicon-link"></span></a>Using GoS command without parameters</h2>

<p>It is possible to invoke gos directly without commands. Simply answer the questions and watch your application compile. The program will guide you through the process.</p>

<pre><code>$GOPATH/bin/gos
</code></pre>

<h2><a id="gos-running-application" class="anchor" href="#gos-running-application" aria-hidden="true"><span class="octicon octicon-link"></span></a>GoS running application</h2>

<p>To compile and run your GoS application invoke <code>gos</code> with the run parameter.
The example below will compile a package called <code>sample/test</code> with configuration file   <code>server.xml</code>, a web root folder called <code>web</code> as well as a templates directory called  <code>tmpl</code> ,</p>

<p>*Command of process described
     $GOPATH/bin/gos run sample/test server.xml web tmpl</p>

<p>The command above should compile and execute your program. Invoking the <code>gos</code> with the run parameter will put go-bindata in -debug mode so that you can edit your server resources and templates while your application is in running.</p>

<h2><a id="gos-export-application" class="anchor" href="#gos-export-application" aria-hidden="true"><span class="octicon octicon-link"></span></a>GoS export application</h2>

<p>Exporting your application will wrap up all of your GoS project resources as one binary ready for distribution (Zips require too much work). To compile and export your GoS application invoke <code>gos</code> with the export parameter.
For example to export a package called <code>sample/test</code> with configuration file    <code>server.xml</code>, a web root folder called <code>web</code> as well as a templates directory called  <code>tmpl</code>, the command below will be ran : </p>

<pre><code>$GOPATH/bin/gos export &lt;package_name&gt; &lt;gos_template_file&gt; &lt;name_of_web_root_folder&gt; &lt;name_of_template_folder&gt;
*Command of process described
$GOPATH/bin/gos export sample/test server.xml web tmpl
</code></pre>

<p>Unlike running the GoS application, this build will have static copies of its resources at the time of compilation. The executable will be placed in your GoS project root (package root). This copy can be ran anywhere without the need of resources within your package.</p>

<h2><a id="gos-ios-application" class="anchor" href="#gos-ios-application" aria-hidden="true"><span class="octicon octicon-link"></span></a>Gos IOS application</h2>

<p>Bind your IOS project with your GoS project. Please make sure that this packages GoS configuration file has its deploy set to <code>bind</code>. </p>

<pre><code>$GOPATH/bin/gos export &lt;package_name&gt; &lt;gos_template_file&gt; &lt;name_of_web_root&gt; &lt;name_of_template_root&gt; &lt;ios_project_path&gt;
//ios_project_path = the folder with your Xcode project's .xcodeproj file as a child element
</code></pre>

<h1><a id="configuring-gos-xml-file" class="anchor" href="#configuring-gos-xml-file" aria-hidden="true"><span class="octicon octicon-link"></span></a>Configuring GoS XML file</h1>

<p>This section covers documentation of GoS XML template tags. Here is how to export your application, and to simplify the command line entry process, we recommend creating your new Xcode project in the same folder as your package. Read this <a href="/cseck/Gopher-Sauce/blob/master/tutorial.md">Tutorial</a> to make your first GoS Mobile application</p>

<h2><a id="deploy" class="anchor" href="#deploy" aria-hidden="true"><span class="octicon octicon-link"></span></a>Deploy</h2>

<p>Application deploy specifies the manner that GoS should compile your application. Use <code>webapp</code> to have GoS generate a webserver for you. To link this package to an app use <code>bind</code> instead of <code>webapp</code>. This tag should always be within the root of the <code>&lt;gos/&gt;</code> tag.</p>

<h3><a id="available-deploy-types" class="anchor" href="#available-deploy-types" aria-hidden="true"><span class="octicon octicon-link"></span></a>Available Deploy types</h3>

<ul>
<li>webapp : Will add Go's default Http Listener to your package's <code>main()</code> function.</li>
<li>bind : Will create the framework files needed to use your GoS config as an HTML5 based application for mobile.</li>
<li>package : Make your package's template's and web resources exportable. </li>
</ul>

<p>*This tag is required</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;deploy&gt;webapp&lt;/deploy&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="web-tag" class="anchor" href="#web-tag" aria-hidden="true"><span class="octicon octicon-link"></span></a>Web tag</h2>

<p>Specifies the name of the folder that contains your web resources within your GoS exportable package.</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;web&gt;foldername&lt;/web&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="tmpl-tag" class="anchor" href="#tmpl-tag" aria-hidden="true"><span class="octicon octicon-link"></span></a>Tmpl tag</h2>

<p>Specifies the name of the folder containing your template files within your Gos exportable package.</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;tmpl&gt;foldername&lt;/tmpl&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="session" class="anchor" href="#session" aria-hidden="true"><span class="octicon octicon-link"></span></a>Session</h2>

<p>Custom variables append to the <code>session</code> Struct. Useful for setting custom Exported fields for the session struct. More information on mobile sessions <a href="#mobile-session">here</a> with templates</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;session&gt;
        Theme Color // assuming the struct Color exists
        Other,userid string
    &lt;/session&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="package" class="anchor" href="#package" aria-hidden="true"><span class="octicon octicon-link"></span></a>Package</h2>

<p>This is only applicable to applications of type <code>bind</code> (mobile) and <code>package</code>. It specifies the package name to use in generation of your IOS FrameWork. It specifies the web and template folder prefix for your exportable GoS package.</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;package&gt;packageName&lt;/package&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="port" class="anchor" href="#port" aria-hidden="true"><span class="octicon octicon-link"></span></a>Port</h2>

<p>(if applicable) Specifies the port your application should listen on. </p>

<pre><code>&lt;gos&gt;
    ...
    &lt;port&gt;8080&lt;/port&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="output" class="anchor" href="#output" aria-hidden="true"><span class="octicon octicon-link"></span></a>Output</h2>

<p>The name of the file that GoS will save.
*This tag is required</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;output&gt;server_out.go&lt;/output&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="key" class="anchor" href="#key" aria-hidden="true"><span class="octicon octicon-link"></span></a>Key</h2>

<p>(if applicable) used as cookie store key within your web app</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;key&gt;my-key-braah&lt;/key&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h2><a id="init" class="anchor" href="#init" aria-hidden="true"><span class="octicon octicon-link"></span></a>Init</h2>

<p>GoS will wrap the data within this tag into the usual Go <code>init()</code> function
For example :</p>

<pre><code>    &lt;gos&gt;
        ...
        &lt;init&gt; 
            fmt.Println("Logging from init function")   
        &lt;/init&gt;
        ...
    &lt;/gos&gt;
</code></pre>

<p>Will translate into</p>

<pre><code>func init(){
    fmt.Println("Logging from init function")
}
</code></pre>

<p>This can be useful for registering custom declared structs for Session use.</p>

<h2><a id="main" class="anchor" href="#main" aria-hidden="true"><span class="octicon octicon-link"></span></a>Main</h2>

<p>GoS will wrap the data within this tag into the go <code>main()</code> function.
For example : </p>

<pre><code>    &lt;gos&gt;
        ...
        &lt;main&gt; 
            fmt.Println("Logging from main function")   
        &lt;/main&gt;
        ...
    &lt;/gos&gt;
</code></pre>

<p>Will translate into</p>

<pre><code>func main(){
    ...
    fmt.Println("Logging from Main function")
    ...
}
</code></pre>

<h2><a id="variables" class="anchor" href="#variables" aria-hidden="true"><span class="octicon octicon-link"></span></a>Variables</h2>

<p>To declare public variables that are accessible to your program use the <code>var</code> tag. Use the type parameter to specify the variable type. Use the <code>*</code> qualifier as appropriate.
For example </p>

<pre><code>    &lt;var type="string"&gt;FreeServer&lt;/var&gt;
</code></pre>

<p>Will become (within your Go program)</p>

<pre><code>    var FreeServer string 
</code></pre>

<h2><a id="header" class="anchor" href="#header" aria-hidden="true"><span class="octicon octicon-link"></span></a>Header</h2>

<p>Think of the <code>&lt;header/&gt;</code> tag as the interface of your application. It holds structure and object declarations.</p>

<h3><a id="structs" class="anchor" href="#structs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Structs</h3>

<p>The <code>&lt;struct/&gt;</code> tag will declare a new Go structure within within your generated Go src.</p>

<h4><a id="attributes" class="anchor" href="#attributes" aria-hidden="true"><span class="octicon octicon-link"></span></a>Attributes</h4>

<p>name - The name of this structure
** Innerxml Struct parameter declarations.</p>

<p>The example below declares a Go struct named DemoGos with a sub structure called DemoChild. The struct DemoGos has attributes SomeAttr and Child. </p>

<p>These structs are available everywhere within your application.</p>

<p>Whenever this struct is initialized within a template, these variables are accessible as that object's properties.</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;header&gt;
        &lt;struct name="DemoChild"&gt;
            SomeOtherAttr string
        &lt;/struct&gt;
        &lt;struct name="DemoGos"&gt;
            SomeAttr string
            Child *DemoChild
        &lt;/struct&gt;
    &lt;/header&gt;
    ...
&lt;/gos&gt;
</code></pre>

<h3><a id="objects" class="anchor" href="#objects" aria-hidden="true"><span class="octicon octicon-link"></span></a>Objects</h3>

<p>The <code>&lt;object/&gt;</code> tag declares a GoS object. It needs struct name to have a parameter map, which is used whenever this object is initialized within a template. Please keep in mind that the struct specified for this object must be returned all the time.</p>

<h4><a id="attributes-1" class="anchor" href="#attributes-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>Attributes</h4>

<pre><code>struct - the name of a struct available to the application
name - name of object
</code></pre>

<p>The example below will declare an object called <code>myDemoObject</code>. The inner content of this tag is where object methods are declared. (remember to jumpline after each declaration!!!) 
These functions also need to be declared within your GoS application xml template or another imported xml template.</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;header&gt;
    &lt;object struct="DemoGos" name="myDemoObject"&gt;
        Hackfmt(save string)
        WhatsMyAttr(save string,end string) string
        WhatsMyAttrLength() string
    &lt;/object&gt;
    &lt;/header&gt;
    ...
&lt;/gos&gt;
</code></pre>

<p>By declaring an object :</p>

<ul>
<li>GoS will create a Go lang <code>type</code> with the object's name linked to its respective struct</li>
<li>GoS will create a local and template accessible method to initialize this object. Local method :  <code>net_myDemoObject(args ...interface{}) (d DemoGos)</code>. Template method : {{$emptyObject :=  myDemoObject}}.</li>
</ul>

<ul>
<li><p>Invoking object with static parameters : <code>{{$object := myDemoObject /{</code>`SomeAttr`:`ValueIn`}/ }}<code>. To pass initialization variables we can use a static json escape holders</code>/{<code>and</code>}/`. To initialize your variable with other objects create a method that returns this object by using the desired input initialization objects to use.</p></li>
<li><p>Each function specified within this tag, will be generated to accept this object as a mutable parameter within templates as well as your application's local scope. Local function generated :
<code>func (object DemoGos) Hackfmt(save string)</code>
You can access this function via templates by invoking these calls within any template in this application : <code>{{$object | Hackfmt "data"}}</code> or <code>{{$error := $object | Hackfmt "data" }}</code>. The return type declared will be returned, so please make sure that type is returned within the linked method.</p></li>
</ul>

<p>*If an Object and a template share a struct you can initialize the template and compile it to html with this call <code>{{b&lt;template name&gt; $object}}</code></p>

<h2><a id="methods" class="anchor" href="#methods" aria-hidden="true"><span class="octicon octicon-link"></span></a>Methods</h2>

<p>Sorry for the confusion, Methods translate into usual go functions (<code>func</code>). 
This section covers how to create functions for your applications. These functions, known as Methods within GoS are linked for use with your templates, api end points, objects, timers and anywhere else within your application.</p>

<h3><a id="attributes-2" class="anchor" href="#attributes-2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Attributes</h3>

<pre><code>name - Specifies the name of the function. Please keep in mind that usage of this function outside of templates requires the `net_` added to name because GoS appends that prefix to avoid any method redeclaration. If you desire to write methods for strict usage outside of template files we recommend writing a normal Go package and importing it with the `&lt;import/&gt;` tag.

return - The return type of the function. Ie: string,bool or a custom struct `DemoGos` 
var - This is a comma delimited string of the variables you wish this function to have. Say we need a function that has two parameters `param1 string, param2 string` it will be declared `param1,param2`. Before using the variable make sure its type is defined within the method. For example to log `param1` the call would be `fmt.Println(param1.(string))`

autoface - GoS has the capability of taking methods declared within objects and look for the corresponding method name, and create a Go function to mutate the corresponding object with the matching method. This feature is enabled by default to disable it for a method and have it not converted as a method to mutate an object set the attribute to false.
limit - This is a comma delimited string to specify the object types this function will work with, if linked. For example to limit a function to DemoGos and myDemoObject this attribute will be set to `DemoGos,myDemoObject` 
object - If this method is linked to an object this specifies the local name of the object within the function. By default it is `object`
**InnerXml - This contains your method declarations. GoS will wrap up the inner xml data with your method attributes to create a Go func
</code></pre>

<p>In the example below, one method will be created, the corresponding method will then be added as an object method as well.  Since input variables are declared within the object, we do not need to add the <code>var</code> attribute to our method declaration. </p>

<pre><code>    &lt;gos&gt;
        ...
        &lt;header&gt;
        &lt;object struct="DemoGos" name="myDemoObject"&gt;
            Hackfmt(save string)
        &lt;/object&gt;
        &lt;/header&gt;
        ...
        &lt;methods&gt;
            &lt;method name="Hackfmt"&gt;
            fmt.Println(save + " -&gt; " + object.SomeAttr) 
            &lt;/method&gt;
        &lt;/methods&gt;
        ...
    &lt;/gos&gt;
    ... Output by GoS :
    //Generated GoLang function
    func (object DemoGos) Hackfmt(save string)  
    //Generated template method for object
    func  net_Hackfmt(save string,object DemoGos) string 
</code></pre>

<p>Once a method is used within an interface it will not be generated again and can only be invoked with the linked object type.  The snipped below will use declared function <code>Hackfmt</code> within a template. The <code>net_</code> prefix is not needed within templates.</p>

<pre><code>{{$object := myDemoObject}}
{{$object | Hackfmt "saveString" }}
&lt;!-- Another way to call it --&gt;
{{Hackfmt "saveString" $object }}
</code></pre>

<p>The method can also be used outside of templates with the snipped below :</p>

<pre><code>object := DemoGos{}
object.Hackfmt("saveString")    
</code></pre>

<p>Another test case is declaring a method that is not used with any objects and is still accessible within templates and function calls outside of it as well. The variables set in the var tag need their type declared during use. The example below we will declare a function that sends emails and returns a <code>bool</code>.     </p>

<pre><code>    &lt;gos&gt;
        ...
            &lt;methods&gt;
                &lt;method name="sendEmail" var="to,from" return="bool"&gt;
                    go fmt.Println("Send Email -&gt; " + to.(string) + " -&gt;" + from.(string))
                    return true
            &lt;/method&gt;
            ...
        &lt;/methods&gt;
        ...
    &lt;/gos&gt;
    ... Output by GoS :  
    //Generated template method
    func net_sendEmail(args ...interface{}) bool
</code></pre>

<p>Now we will create a template class that will output a Bootstrap alert if an email is sent and an error if not. 
Note the usage of the Pipe call although "from" is not an object and send email is not an object method.</p>

<pre><code>{{ if "from" | sendEmail "to" }}
            {{Bootstrap_alert /{`Strong`:`Success`,`Type`:`success`, `Text` : `Email Sent`}/ }}
{{else}}
           {{Bootstrap_alert /{`Strong`:`Error`,`Type`:`danger`, `Text` : `Please Login`}/ }}
{{end}}
</code></pre>

<p>Do not let the <code>|</code> scare you (known as pipe),  in our case the function parameter <code>"from"</code> becomes the last parameter of the function call and ones following the method name the first parameters, ordered in the way they are inputted. hence : <code>LastParam | functionName param1 param2...</code>.
Another way to invoke your function is  :</p>

<pre><code>    {{if sendEmail "to" "from" }}
          {{Bootstrap_alert /{`Strong`:`Success`,`Type`:`success`, `Text` : `Email Sent`}/ }}
    {{end}}
</code></pre>

<p>GoS has built in templates as well, <a href="#builtin-template-functions">check them out here</a></p>

<p>That Easy!!!!!!</p>

<h2><a id="timers" class="anchor" href="#timers" aria-hidden="true"><span class="octicon octicon-link"></span></a>Timers</h2>

<p>This section covers how to create methods that are called after every certain unit of time intervals. GoS uses the <code>&lt;timer/&gt;</code> tag to generate timer execution block with the target method specified. Please keep in mind that timers do not work within GoS mobile exports.</p>

<h3><a id="attributes-3" class="anchor" href="#attributes-3" aria-hidden="true"><span class="octicon octicon-link"></span></a>Attributes</h3>

<pre><code>name - The name of the timer. Variable only accessible within `main()` function call
method - The name of the method declared in GoS, that is ran after each interval. Please keep in mind that a timer method cannot have a return call within the method and variable declarations. Only the name will be used, any other attribute of the method name declared will be ignored. Your method will also not be available to your application. For example to use a method named `Hackfmt` this attribute would just be that methods name (Hackfmt). 
interval - The number multiplied by the Go lang `time` units to determine the intervals of execution
unit - This is the Go lang time unit constant used to determine how often your timer will execute
</code></pre>

<p>The following example will link Hackfmt to a timer that will be executed every 60 seconds</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;timers&gt;
    &lt;timer method="Hackfmt" interval="60" unit="Second" name="PublicName"&gt;&lt;/timer&gt;
&lt;/timers&gt;
    ...
&lt;/gos&gt;
Generated output :
...
main(){
...
PublicName := time.NewTicker(time.Second *  60)
                    go func() {
                        for _ = range PublicName.C {
                           // -&gt; Hackfmt()
                        }
                    }()
...
}
</code></pre>

<h2><a id="templates" class="anchor" href="#templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Templates</h2>

<p>This section covers how to declare templates outside of your web root. This allows you to create template files that are not served within your server. This allows for the creation of template classes, that for example send emails and returns a success alert as feedback in the form of HTML. 
This allows for easy html template class generation, and binary compilation of file to ensure security of code and file  invisibility. </p>

<h3><a id="attributes-4" class="anchor" href="#attributes-4" aria-hidden="true"><span class="octicon octicon-link"></span></a>Attributes</h3>

<pre><code>name - This is the name of the template within your application. You can load a template by simply calling `{{&lt;template name&gt;}}`

tmpl - This specifies the path to the template file with the declared template root in mind. For example if our file was in `PACKAGENAME/tmpl/file.tmpl` the tmpl attribute will be `file` because GoS will append the needed prefixes to find and compile the template file. 

struct - This specifies a declared `struct` to be used as the template's parameter map. 
</code></pre>

<p>In the example below, a struct will be declared for an alert. The example will initialize the template in three ways: by initializing the struct and then building it, initializing it with static Json parameters and without any parameters at all. Remember within any template file in your project you may load the template by typing its name. </p>

<p>The examples below will declare a struct and use that struct's parameters within the template. It is possible to build a template from static JSON init and even via object initialization, mutating and then compiling it to <code>HTML code</code> </p>

<p>The example is using a template file with path  <code>bootstrap/alert</code>.
*Due to the canonical nature of our asset to binary tools, file paths must be in lower case.</p>

<p>Server.xml</p>

<pre><code>&lt;gos&gt;
    ...
    &lt;header&gt;
        &lt;struct name="Bootstrap_alert"&gt;
                Strong string
                Text string
                Type string
        &lt;/struct&gt; 
        ...
    &lt;/header&gt;
    ...
    &lt;templates&gt;
        ...
         &lt;template name="Bootstrap_alert" tmpl="bootstrap/alert" struct="Bootstrap_alert" /&gt; 
    &lt;/templates&gt;
&lt;/gos&gt;
</code></pre>

<p>tmpl/bootstrap/alert.tmpl :</p>

<pre><code> &lt;div class="alert alert-{{.Type}} alert-dismissible fade in" role="alert"&gt;
&lt;strong&gt;{{.Strong}}&lt;/strong&gt; &lt;p&gt;{{.Text}}&lt;/p&gt;
&lt;/div&gt;
</code></pre>

<p>Now to use the template within other templates there are three ways of doing this. (With the example above in mind)</p>

<pre><code>    &lt;!-- No parameters --&gt;
    {{Bootstrap_alert}}
    &lt;!-- Static JSON --&gt;
    {{Boostrap_alert /{`Type`:`danger`,`Strong`: `Strong`,`Text` :`Test`  }/ }}
    &lt;!--Struct object Init, Static Json parameters can be supplied as well!! Add  `c` to your template name to initialize its struct; And add `b` to your template name to output the html --&gt;
    {{ $mutable := cBootstrap_alert }}
    {{ $mutable | dbOperation "queryvalue"  }}
    {{bBootstrap_alert}}
</code></pre>

<h2><a id="api-generation" class="anchor" href="#api-generation" aria-hidden="true"><span class="octicon octicon-link"></span></a>API Generation</h2>

<p>This section covers how to create http request hooks within your GoS application. If a request's method and path match a declared endpoint, the method declared as the matching end point in the GoS project will be ran. Linking a method to your web server's api will prevent it from being used anywhere else within your application. Similar to a template within your web root, you can access session variables within api endpoint linked methods with the variable <code>session</code>.</p>

<h3><a id="attributes-5" class="anchor" href="#attributes-5" aria-hidden="true"><span class="octicon octicon-link"></span></a>Attributes</h3>

<pre><code>path - the path to the api hook within your server
method - The GoS declared method ran when the Hook is called.
type - This specifies the request method ie: POST,GET,PUT,DELETE
</code></pre>

<p>The example below will declare a method and api end point within the GoS configuration called login. The hook defined will create a rest call : <code>POST /index/api</code></p>

<pre><code>&lt;gos&gt;
    ...
        &lt;methods&gt;
            &lt;method name="login" &gt; 
                //login function
                response = mResponse(Button{Color:"#fff"})
                fmt.Println("Login!! -&gt; " + session.Values["username"].(string))
        &lt;/method&gt;
        ...
    &lt;/methods&gt;
    ...
    &lt;endpoints&gt;
           &lt;end path="/index/api" method="login" type="POST" &gt;&lt;/end&gt;
    &lt;/endpoints&gt;
    ...
&lt;/gos&gt;
This condition will be added as a check prior to the server attempting to find a file matching the request path within the web root : 

if  r.URL.Path == "/index/api" &amp;&amp; r.Method == strings.ToUpper("POST") {
    response = mResponse(Button{Color:"#fff"})
    fmt.Println("Login!! -&gt; " + session.Values["username"].(string))
}
</code></pre>

<p>Here are the variables that are available to your api method code block :</p>

<pre><code>response - String response of api.
session - Current Gorilla session of the request (if applicable). Use the session.Values dictionary to access and save data.
## Mobile only
layer - current instance of Hardware kit
Handy functions :
mResponse - will convert any object into a JSON string for output. The example below converts Button into a JSON string for output.
</code></pre>

<h2><a id="imports" class="anchor" href="#imports" aria-hidden="true"><span class="octicon octicon-link"></span></a>Imports</h2>

<p>Imports allow you to import other Go lang packages for use within your GoS XML template. It also allows you to import other GoS xml template by specifying an XML file relative to <code>$GOPATH/src</code>. This will include that files imports wether template files or Go lang packages, structs,objects,methods,timers,templates and api endpoints. </p>

<p>This tag belongs only in the root of the <code>&lt;gos/&gt;</code> tag
Example import :</p>

<pre><code>    &lt;import src="mongo.xml"/&gt;
    &lt;!-- Importing Golang Packages --&gt;
    &lt;import src= "gopkg.in/mgo.v2"/&gt;
    &lt;import src="gopkg.in/mgo.v2/bson"/&gt;
</code></pre>

<p>To expedite the process of using external packages within your application you can you set the <code>fetch</code> attribute to true.
The example below will download the package using the <code>go get</code> command during the generation of your application.</p>

<pre><code>&lt;import src= "gopkg.in/mgo.v2" fetch="true"/&gt;
</code></pre>

<h1><a id="builtin-template-functions" class="anchor" href="#builtin-template-functions" aria-hidden="true"><span class="octicon octicon-link"></span></a>Builtin template functions</h1>

<p>This section covers the list of functions available within all your templates compiled using GoS.
Please keep in mind that the .Session and .R variable are only available to template files within your server web root.</p>

<ul>
<li>js - will take its only input and add it as the src attribute of the html <code>&lt;script/&gt;</code> tag <code>&lt;script src="var"&gt;&lt;/script&gt;</code>

<ul>
<li>Usage : <code>{{js  "dist/js/bootstrap.js"}}</code></li>
</ul></li>
<li>css - Will take its only input and add it as the href attribute of the html  <code>&lt;link/&gt;</code> tag.

<ul>
<li>Usage : <code>{{css "dist/css/bootstrap.css" }}</code></li>
</ul></li>
<li>sd - Will delete the current page session

<ul>
<li>Usage : <code>{{.Session | sd }}</code> </li>
</ul></li>
<li>sr - Will remove a specified session key

<ul>
<li>Usage : <code>{{.Session | sr "KeyName" }}</code> </li>
</ul></li>
<li>sc - Will check to see if a session key exists

<ul>
<li>Usage : <code>{{.Session | sc "KeyName" }}</code></li>
</ul></li>
<li>ss - Will set a string value as a session variable.

<ul>
<li>Usage : <code>{{.Session | ss "KeyName" "Variable" }}</code> </li>
</ul></li>
<li><p>sso - Will set a struct as a session variable. </p>

<ul>
<li><p>Usage : This requires three steps to work.</p>

<ul>
<li>  Import <code>encoding/gob</code> with the import tag. Do not set the fetch attribute.</li>
<li><p>Register the struct types within your <code>&lt;init/&gt;</code> tag of your GoS project root. </p>

<pre><code>     init(){ 
     ...
     gob.Register(&amp;Object{})
</code></pre></li>
</ul>

<ul>
<li>Once the steps above are completed you can now set the linked object as session variables : <code>{{.Session | sso "KeyName" $object_with_Object_struct }}</code></li>
</ul></li>
</ul></li>
<li>sgo - Will retrieve a a session stored object

<ul>
<li>Usage : <code>{{$desiredObject =  .Session | sgo "keyName" }}</code> </li>
</ul></li>
<li>sg - Will retrieve a string stored as a session variable.

<ul>
<li>Usage : <code>{{$string := .Session | sg "KeyName" }}</code> </li>
</ul></li>
<li>form - Will retrieve a request variable no matter how it is submitted.

<ul>
<li>Usage : <code>{{ $input = .R | }}</code> .  <code>.R</code> is a page variable with type <code>http.Request</code> from the Go lang package <code>net/http</code></li>
</ul></li>
<li>eq - Will compare two variables and return a <code>bool</code> of value true if they are equal

<ul>
<li>Usage : <code>{{if eq "Obj1" "Obj1" }} {{end}}</code> </li>
</ul></li>
<li>neq - Will compare two variables and return a <code>bool</code> of value true if they are not equal.

<ul>
<li>Usage :  <code>{{if neq "Obj1" "Obj2" }} {{end}}</code> </li>
</ul></li>
<li>lte - Will see if the first number declared is less than or equal to than the second number declared, if this statement proves to be true it will return a <code>bool</code> with the value true.

<ul>
<li>Usage : <code>{{if lte 5 10 }} {{end}}</code> </li>
</ul></li>
<li>lt - Will see if the first number declared is less than the second number declared, if this statement proves to be true it wil return a <code>bool</code> with value true.

<ul>
<li>Usage  : <code>{{if lt 5  7 }} {{end}}</code></li>
</ul></li>
<li>gte - Will see if the first number declared is greater than or equal to the second number declared, if this statement proves to be true it will return a <code>bool</code> with value true

<ul>
<li>Usage : <code>{{if gte 5 2}} {{end}}</code> </li>
</ul></li>
<li>gt -  Will see if the first number declared is greater than or equal to the second number declared, if this statement proves to be true it will return a <code>bool</code> with value true

<ul>
<li>Usage : <code>{{if gt 5 2}} {{end}}</code> </li>
</ul></li>
</ul>

<h1><a id="gos-page" class="anchor" href="#gos-page" aria-hidden="true"><span class="octicon octicon-link"></span></a>Gos page</h1>

<p>This section covers the variables accessible to a template page in your GoS project's web root.</p>

<p>More information on <a href="http://www.gorillatoolkit.org/pkg/sessions">sessions.Session</a></p>

<p>The Go lang struct for a page in your web root : </p>

<pre><code>     type Page struct {
                    Title string
                    Body  []byte
                    request *http.Request
                    isResource bool
                    R *http.Request
                    Session *sessions.Session
        }
</code></pre>

<p>These variables are accessible to template web pages within your project's web root. For templates in your template class folder, GoS will use the explicitly defined struct for that template.</p>

<h1><a id="mobile-session" class="anchor" href="#mobile-session" aria-hidden="true"><span class="octicon octicon-link"></span></a>Mobile Session</h1>

<p>A session within a GoS mobile application is encrypted by the 32 byte key set within your GoS xml file, and stored locally within your app. You can access session variables on every template file, even defined templates with your template folder. It expires when the session destroyed method is called. Here are the methods to get and set session objects within a GoS mobile application.
Notice the <code>s</code> prefix in each function.  Sessions can be handy to customize your customer's app experience. </p>

<pre><code>type session struct {
                // \|/ Session's map
                Values map[string]interface{}
                //custom props

}
</code></pre>

<ul>
<li>sDelete - Will delete a session entirely

<ul>
<li>Usage : <code>{{sDelete}}</code> </li>
</ul></li>
<li>sRemove -  Will remove a key from the session's map.

<ul>
<li>Usage : <code>{{sRemove "keyname"}}</code> </li>
</ul></li>
<li>sExists  - Will check if a key exists from the session's map. Returns a <code>bool</code>

<ul>
<li>Usage : <code>{{sExists "keyname"}}</code> </li>
</ul></li>
<li>sSet - Will set the first variable followed by a pipe <code>|</code> or the last variable without the pipe as an object within the session's map with the given key.

<ul>
<li>Usage : <code>{{$object | sSet "keyname" }} || {{sSet "keyname" $object }}</code> </li>
</ul></li>
<li>sSetField - Will set a property for a Given exported field within the <code>session</code> struct. This function is crucial because these variables cannot be set with templates.
 -Usage : <code>{{sSetField "FieldName" $obj }} || {{$obj | sSetField   "FieldName" }}</code> </li>
<li>sGet - Will retrieve an interface. Recommend using sGetString to retrieve strings and sGetN to retrieve numbers, this will return an interface stored within your local session's map, which can be casted to a struct or defined object within GoS. 

<ul>
<li>Usage : <code>{{$var := sGet "keyname" }}</code> </li>
</ul></li>
<li>sGetString - Will retrieve a stored string within your local session's map.

<ul>
<li>Usage : <code>{{$string := sGetString "keyname" }}</code></li>
</ul></li>
<li>sGetN - Will retrieve a stored float64 within your local session's map.
     - Usage : <code>{{$number := sGetN "keyname" }}</code></li>
</ul>

<p>Remember that Exported fields can be accessed directly within templates <code>&lt;Struct&gt;.&lt;exported_field_name&gt;</code> so no function is necessary to access the variable.</p>

<p>To cast a session object to struct use the template method <code>is&lt;Struct_name&gt;</code>. For example to cast a session map variable object to the struct <code>Button</code>, which is declared within the GoS xml file.</p>

<pre><code>{{$sGetVar := sGet "StoredButton" }}
{{$struct := isButton  $sGetVar}}
</code></pre>

<h1><a id="basic-math-functions" class="anchor" href="#basic-math-functions" aria-hidden="true"><span class="octicon octicon-link"></span></a>Basic Math functions</h1>

<p>To get around manipulating number values within templates refer to the functions listed below.</p>

<ul>
<li>Adding x + y : <code>{{$total := x | a y }}</code></li>
<li>Subtracting x - y : <code>{{$total := x | s y }}</code></li>
<li>Multiplying x * y : <code>{{ $total := x | m y }}</code></li>
<li>Diving x/y : <code>{{$total := x | d y }}</code></li>
</ul>

<h1><a id="mobile-views" class="anchor" href="#mobile-views" aria-hidden="true"><span class="octicon octicon-link"></span></a>Mobile views</h1>

<p>Within GoS mobile projects, it is possible to dismiss or create new views within templates. This option is only available to template files within your <code>web</code> root. To launch a new view use the <code>push</code> template function with current page's layer property. The view string path is relative to your <code>web</code> root.  :</p>

<pre><code>{{.Layer | push "index.html" }}
</code></pre>

<p>To Dismiss  a view use the <code>dismiss</code> function within your templates.</p>

<pre><code>{{ .Layer | dismiss }} 
</code></pre>

<p>To Dismiss a view at a different index of your view stack use the <code>dismissAt</code> template function. The parameter required is the target index.</p>

<pre><code>{{.Layer | dismissAt 0 }}
</code></pre>

<p>These functions are also available to API linked methods, feel free to use <code>layer</code> directly without initialization, within methods that are intended to handle an API endpoint. Scroll a bit to view the Go lang <code>Flow</code> interface.</p>

<h4><a id="get-view-port-information" class="anchor" href="#get-view-port-information" aria-hidden="true"><span class="octicon octicon-link"></span></a>Get View port information</h4>

<pre><code>    {{.Layer | Height }} // Get Device height
    {{.Layer | Width }} // Get Device Width
</code></pre>

<h1><a id="mobile-page-parameters" class="anchor" href="#mobile-page-parameters" aria-hidden="true"><span class="octicon octicon-link"></span></a>Mobile page parameters</h1>

<p>Each page within the web root uses the Mobile page struct : </p>

<pre><code>    type page struct {
        Title string
        Body  []byte
        Parameters map[string]interface{}
        Session session
        Layer Flow
        isResource bool 
    }
    // Flow Struct

     type Flow interface {
                PushView(url string)
                DismissView()
                DismissViewatInt(index int)
                //Get device information
                Width() float64
                Height() float64
     }
</code></pre>

<p>To access a variable passed within the Get string and post body are accessed in the same manner. Keep in mind that if a Post and Get variable share the same key name, the Post variable will be used instead.</p>

<p>Use the Get function to access parameters within templates. Example :</p>

<pre><code>    {{.Parameters | Get "KEYNAME" }} | {{ Get "KEYNAME" .Parameters }}
</code></pre>


      </div>

    </div>

 </div>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78354422-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>