<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot password</title>
    <link rel="shortcut icon" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="shortcut icon" href="/img/logo.png" />
  </head>
  <body>
  	{{Css}}

  	{{Navbar}}

    <div class="tip-red center-panel">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
      {{Logo /{`Misc`:`40`}/}}
      <h3 class="text-muted"><b>Strukture</b></h3>
      <div class="auto-marker">
        <div class="marker" path="/api/password">
        {{Input /{`Name`:`email`,`Type`:`text`,`Text`:`Email of current account`,`Misc`:`required`}/ }}
        <p class="loader-result"></p>
        <p>{{Submit /{`Misc`:`primary btn-block`,`Text` : `Reset password`}/}}</p>
        </div>
        <p><a href="/index" class="btn f-password btn-primary-outline btn-block"> Back to login</a></p>

        
      </div>


    </div>
  </div>
</div>

  	

  	{{JS}}

  </body>
</html>