<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Privacy statement - The Strukture</title>
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="/img/logo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css.css" />
    <link rel="stylesheet" href="/dist/jquery.fullPage.css" />
  </head>
  <body >
  	{{Css}}

  	{{NavPromo}}

    <div class="container" style="padding-top:20px;">
    
    <h1 class="page-header">Privacy statement</h1>

        <p style="text-align:left"> Cheikh Seck (“We, Us”) operates <a href="http://thestrukture.com"> thestrukture.com </a> (the “Site”). 

<br />

Here you will find the policies in regard to the collection, use and disclosure of Personal Information we 



receive from users of the Site. <br />



We use your Personal Information only for providing our represented services and improving 



the Site. Visitors, users and members shall comply to the collection and use of information in 



correspondence with this policy. Unless otherwise defined in this Privacy Policy, terms used in 



this agreement have the same implications evident in our Terms and Conditions.
<br />

1.<b> COLLECTION AND USE OF INFORMATION </b> – Users of the Site may be asked to provide certain 



personally identifiable and government authorized information that shall be used to contact, 



identify and verify you. Personally identifiable information may include, but is not limited to, 



your name, age, email address, postal address, and phone number (“Personal Information”). 



By visiting or using the Site, you understand that your information may be relocated to our 



databases and our suppliers, third-party vendors, and our business partners.  We may from time 



to time obtain personal and non-personal information about you from third party sources and 



add it to the corresponding account information. This includes address information, purchase 



history, and demographic information. If you Register for the Site through a social media 



account such as a Facebook function, or use a social media account to Register on the Site, you 



are aware and accept that we may access and use information from that social media platform, 



in respect to their policies.

<br />

2. <b>LOG DATA </b> – Similar to many site operators, we collect information that your browser transmits 



whenever you visit the Site, known as “Log Data.” This Log Data may include information 



regarding the users’ computer’s Internet Protocol (“IP”) address, browser specifications, the 



page and its date and time that you visit, and other statistical data. 


<br />
3. <b>COOKIES</b> – Cookies are files with small storage of data, which may include an anonymous unique 



identifier. Cookies are sent to browsers from a corresponding website and are stored on your 



computer’s hard drive.  This storage saves navigational and functional effort in while engaging 



in use of the Site. We encourage to permanently deleting all cookies from your cookie folder 



periodically. Like many websites, we use “cookies” to collect information. In the case where you 



wish to refuse sending cookies, you may adjust your browser’s settings. However this may also 



stop access of some parts of the Site.


<br />
4. <b>SECURITY </b> – The security of all your Personal Information is very important to Cheikh Seck (“Us”). But it is essential to acknowledge that no method of transmission or 



storage over the Internet is secure. We assure you that we will emphasize protective 



effort when protecting your Personal Information; however we cannot guarantee its absolute 



security.

<br />

5. <b>THIRD PARTY LINKS</b> – Our site may contain links to other websites which are not operated by 



us. When you click on a third party link, you will be redirected to that party’s website. Cheikh Seck has no control over and assumes no responsibility for the content, 



privacy policies or any implicative practices of third party sites. We advise you to review the 



Privacy Policy of every site you visit. 

<br />

6. <b>CHANGES TO THIS PRIVACY POLICY</b> – Cheikh Seck may update; modify or 



change this Privacy Policy from time to time. Changes will happen whenever this Privacy Policy is 



updates. We advise you to review this Privacy Policy periodically for any changes.
<br />


7. <b>VISITING SITE OUTSIDE OF UNITED STATES </b>– Visitors of the Site, please acknowledge that your 



information may be relocated to, stored and processed in the United States, where our central 



database and server operates. Laws of data protection in your country may not be identical 



to that of The United States. However we assure you that we take the appropriate efforts to 



protect your privacy. By visiting or using the Site, you understand that your information may be 



relocated to our databases and those third parties with whom we present offers on the Site.
<br />





<br /><br />
<b>*This Privacy Policy was last modified on February 1, 2016.</b>


  </div>

  	{{JS}}
 
  </body>
</html>